@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*  Fonts  */
.raleway { font-family: 'Raleway', sans-serif !important; }
.lato { font-family: 'Lato', sans-serif !important; }
.open-sans { font-family: 'Open Sans', sans-serif !important; }
.roboto { font-family: 'Roboto', sans-serif !important; }
.bebas { font-family: 'Bebas Neue', sans-serif !important; }


/*  Font Paragraps  */
.slides,
.slides p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/*  Font Titles */
.slides h1,
.slides h2,
.slides h3,
.slides h4,
.slides h5,
.slides h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/*  Font Button */
.slides .button,
.slides .slides-form {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}


/* stuff */
.material-icons {
  font-family:  'Material Icons';
  font-weight:  normal;
  font-style:  normal;
  font-size:  24px;  /* Preferred icon size */
  display:  inline-block;
  line-height:  1;
  text-transform:  none;
  letter-spacing:  normal;
  word-wrap:  normal;
  white-space:  nowrap;
  direction:  ltr;

  -webkit-font-smoothing:  antialiased;
  text-rendering:  optimizeLegibility;
  -moz-osx-font-smoothing:  grayscale;
  font-feature-settings:  'liga';

  &.md-10 { font-size: 10px; }
  &.md-12 { font-size: 12px; }
  &.md-14 { font-size: 14px; }
  &.md-16 { font-size: 16px; }
  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-26 { font-size: 26px; }
  &.md-28 { font-size: 28px; }
  &.md-30 { font-size: 30px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
  &.md-44 { font-size: 44px; }
  &.md-60 { font-size: 60px; }
  &.md-72 { font-size: 72px; }
  &.md-90 { font-size: 90px; }
}


.md-10 { font-size: 10px; }
.md-12 { font-size: 12px; }
.md-14 { font-size: 14px; }
.md-16 { font-size: 16px; }
.md-18 { font-size: 18px; }
.md-20 { font-size: 20px; }
.md-22 { font-size: 22px; }
.md-24 { font-size: 24px; }
.md-26 { font-size: 26px; }
.md-28 { font-size: 28px; }
.md-30 { font-size: 30px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }
.md-44 { font-size: 44px; }
.md-60 { font-size: 60px; }
.md-72 { font-size: 72px; }
.md-90 { font-size: 90px; }


.letter-spacing-0 { letter-spacing: -4px; }
.letter-spacing-1 { letter-spacing: -2px; }


